<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="Selection_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="Selection" type="xstring" value="Threshold"/>
<config key="FilterCol_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="FilterCol" type="xstring" value="IDF"/>
<config key="Number_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="false"/>
</config>
<entry key="Number" type="xint" value="1000"/>
<config key="MinMax_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_doubleRange"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="MinMax">
<entry key="MIN" type="xdouble" value="0.01"/>
<entry key="MAX" type="xdouble" value="1.0"/>
</config>
<config key="DeepFiltering_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="DeepFiltering" type="xboolean" value="true"/>
<config key="MofiyUnmodifiable_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="MofiyUnmodifiable" type="xboolean" value="false"/>
<config key="DocCol_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="DocCol" type="xstring" value="Document"/>
</config>
<config key="variables">
<config key="MinMax">
<config key="MIN">
<entry key="used_variable" type="xstring" value="filterQuantile"/>
<entry key="exposed_variable" type="xstring" isnull="true" value=""/>
</config>
<config key="MAX">
<entry key="used_variable" type="xstring" value="maximum"/>
<entry key="exposed_variable" type="xstring" isnull="true" value=""/>
</config>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.ext.textprocessing.nodes.frequencies.filter.FilterNodeFactory"/>
<entry key="node-name" type="xstring" value="Frequency Filter"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Textprocessing Plug-in"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.ext.textprocessing"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-bundle-version" type="xstring" value="2.11.1.0045686"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Frequency Filter"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="true"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.node.port.inactive.InactiveBranchPortObjectSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.port.inactive.InactiveBranchPortObject"/>
<entry key="port_object_summary" type="xstring" value="Inactive Port Object"/>
<entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
<entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="27033b14-8264-4930-862f-afdccd8c7e42"/>
</config>
</config>
